<section class="container pt-112">
    <header class="mb-40 gap-16 flex items-center">
        <h2 class="shrink-0">Admin</h2>
        <div class="w-full h-10 bg-primary-300"></div>
    </header>

    <div class="gap-16 grid grid-cols-2">
        <% if (locals.user.is_admin) { %>
            <a class="p-32 text-subheading text-center font-semibold rounded-16 bg-neutral-20 hover:bg-neutral-30 transition-colors" href="/admin/users">Users</a>
        <% } %>
        
        <a class="p-32 text-subheading text-center font-semibold rounded-16 bg-neutral-20 hover:bg-neutral-30 transition-colors" href="/admin/profile">Profile settings</a>
    </div>
</section>