<section class="container pt-112">
    <header class="mb-40 gap-16 flex items-center">
        <h2 class="shrink-0">Admin</h2>
        <div class="w-full h-10 bg-primary-300"></div>
    </header>

    <a class="button button-sm button-primary" href="/admin/profile">Profile settings</a>
</section>