<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/layout/head') %>
    </head>

    <body>
        <main class="pt-0">
            <%- body %>
        </main>
    </body>
</html>