<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/layout/head') %>
    </head>

    <body>
        <main class="pt-0">
            <% if (locals.message) { %>
                <div class="px-16 py-8 fixed top-64 left-1/2 -translate-x-1/2 rounded-8 font-semibold text-neutral-10 bg-neutral-900">
                    <%= locals.message %>
                </div>
            <% } %>

            <%- body %>
        </main>
    </body>
</html>