<%- include('./includes/components/counter') %>

<section class="container">
    <div class="flag-pattern"></div>
</section>

<section class="container">
    <header class="gap-16 pr-16 inline-flex items-center relative z-10 bg-background">
        <h2 class="lg:h1">What's new?</h2>

        <% if (locals.user) { %>
            <a class="button button-sm button-primary" href="/blog/create">Write an article</a>
        <% } %>
    </header>

    <div
        class="pt-[28px] lg:pt-40 pr-0 lg:pr-40 -mt-[28px] lg:-mt-40 border-t-10 border-r-0 lg:border-r-10 rounded-tr-0 lg:rounded-tr-40 border-primary-300"
    >
        <% if (articles.length) { %>
            <ul class="gap-16 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                <% articles.forEach(article=> { %>
                    <%- include('includes/components/article', { article }) %>
                <% }) %>
            </ul>
        <% } else { %>
            <h3 class="text-center">No articles found</h3>
        <% } %>
    </div>
</section>

<%- include('./includes/blocks/section-explore') %>