<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../assets/css/app.css" />
		<script src="../assets/js/app.js"></script>
		<title>EF1</title>
	</head>
	<body>
		<header>
			<nav class="w-full fixed top-0 left-0 z-100 text-neutral-10 bg-primary-300">
				<div class="container py-8 xl:py-16 mx-auto flex justify-between items-center">
					<a href="./index.html">
						<img class="w-80 xl:w-112" src="../assets/images/logo.svg" alt="EF1 Logo" />
					</a>

					<button class="navbar-mobile-menu-button" type="menu" aria-label="Mobile menu">
						<div class="line line-01"></div>
						<div class="line line-02"></div>
					</button>

					<div class="navbar-menu">
						<ul class="navbar-menu-list gap-y-16 xl:gap-y-0 xl:gap-x-32">
							<li>
								<a class="navbar-menu-link" href="./news.html">News</a>
							</li>

							<li>
								<a class="navbar-menu-link active" href="./drivers.html">Drivers</a>
							</li>

							<li>
								<a class="navbar-menu-link" href="./teams.html">Teams</a>
							</li>

							<li class="hidden xl:block">
								<a class="button button-xs button-white" href="">Login</a>
							</li>
						</ul>

						<aside class="block xl:hidden">
							<a class="button button-primary button-base w-full" href="">Login</a>
						</aside>
					</div>
				</div>
			</nav>
		</header>

		<main>
			<aside class="container">
				<div class="gap-16 px-24 py-16 flex flex-wrap justify-between items-center rounded-16 text-neutral-10 bg-neutral-900">
					<div class="flex items-center">
						<figure class="pt-8 pr-8 mr-8 w-56 shrink-0 border-r-2 border-t-2 border-neutral-200 rounded-tr-8">
							<img src="../assets/images/map.png" alt="" />
						</figure>

						<div>
							<small class="font-bold text-xs text-neutral-60">18 - 20 October</small>
							<h4>UNITED STATES</h4>
						</div>
					</div>

					<div class="gap-16 flex pt-8 pl-8 border-t-2 border-l-2 border-primary-300 rounded-tl-16">
						<div class="text-center">
							<h4>11</h4>
							<h6 class="text-neutral-80">HRS</h6>
						</div>

						<div class="text-center">
							<h4>59</h4>
							<h6 class="text-neutral-80">MIN</h6>
						</div>

						<div class="text-center">
							<h4>59</h4>
							<h6 class="text-neutral-80">SEC</h6>
						</div>
					</div>
				</div>
			</aside>

			<section class="container">
				<div class="flag-pattern"></div>
			</section>

			<header class="container gap-16 flex items-center">
				<h2 class="lg:h1 shrink-0">F1 Drivers 2024</h2>
				<div class="w-full h-10 bg-primary-300"></div>
			</header>
		</main>

		<footer class="mt-128 bg-neutral-900">
			<div class="container">
				<header class="pt-40 pb-16 gap-16 flex justify-center items-center">
					<img class="w-88" src="../assets/images/logo-color.svg" alt="EF1 Logo" />
					<h6 class="text-neutral-10">Our partners</h6>
				</header>

				<div class="pb-24 flex flex-wrap justify-center items-center border-b border-neutral-600">
					<img class="w-112" src="../assets/images/logos/image-2.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-3.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-4.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-5.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-6.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-7.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-8.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-10.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-11.png" alt="" />
				</div>

				<div class="pb-24 flex flex-wrap justify-center items-center border-b border-neutral-600">
					<img class="w-112" src="../assets/images/logos/image-12.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-13.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-14.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-15.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-16.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-17.png" alt="" />
				</div>

				<aside class="py-24 flex justify-between items-center">
					<img class="w-80 xl:w-112" src="../assets/images/logo.svg" alt="EF1 Logo" />
					<small class="text-xs text-neutral-60">© 2024 EF1 World Championship Limited</small>
				</aside>
			</div>
		</footer>
	</body>
</html>
