<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../assets/css/app.css" />
		<script src="../assets/js/app.js"></script>
		<title>EF1</title>
	</head>
	<body>
		<header>
			<nav class="w-full fixed top-0 left-0 z-100 text-neutral-10 bg-primary-300">
				<div class="container py-8 xl:py-16 mx-auto flex justify-between items-center">
					<a href="./index.html">
						<img class="w-80 xl:w-112" src="../assets/images/logo.svg" alt="EF1 Logo" />
					</a>

					<button class="navbar-mobile-menu-button" type="menu" aria-label="Mobile menu">
						<div class="line line-01"></div>
						<div class="line line-02"></div>
					</button>

					<div class="navbar-menu">
						<ul class="navbar-menu-list gap-y-16 xl:gap-y-0 xl:gap-x-32">
							<li>
								<a class="navbar-menu-link" href="./news.html">News</a>
							</li>

							<li>
								<a class="navbar-menu-link" href="./drivers.html">Drivers</a>
							</li>

							<li>
								<a class="navbar-menu-link" href="./teams.html">Teams</a>
							</li>

							<li class="hidden xl:block">
								<a class="button button-xs button-white" href="">Login</a>
							</li>
						</ul>

						<aside class="block xl:hidden">
							<a class="button button-primary button-base w-full" href="">Login</a>
						</aside>
					</div>
				</div>
			</nav>
		</header>

		<main>
			<aside class="container">
				<div class="gap-16 px-24 py-16 flex flex-wrap justify-between items-center rounded-16 text-neutral-10 bg-neutral-900">
					<div class="flex items-center">
						<figure class="pt-8 pr-8 mr-8 w-56 shrink-0 border-r-2 border-t-2 border-neutral-200 rounded-tr-8">
							<img src="../assets/images/map.png" alt="" />
						</figure>

						<div>
							<small class="font-bold text-xs text-neutral-60">18 - 20 October</small>
							<h4>UNITED STATES</h4>
						</div>
					</div>

					<div class="gap-16 flex pt-8 pl-8 border-t-2 border-l-2 border-primary-300 rounded-tl-16">
						<div class="text-center">
							<h4 id="count-down-hrs">00</h4>
							<h6 class="text-neutral-80">HRS</h6>
						</div>

						<div class="text-center">
							<h4 id="count-down-min">00</h4>
							<h6 class="text-neutral-80">MIN</h6>
						</div>

						<div class="text-center">
							<h4 id="count-down-sec">00</h4>
							<h6 class="text-neutral-80">SEC</h6>
						</div>
					</div>
				</div>
			</aside>

			<section class="container">
				<div class="flag-pattern"></div>
			</section>

			<section class="container gap-16 grid grid-cols-1 lg:grid-cols-2 items-start">
				<a class="relative lg:sticky lg:top-80 rounded-16 overflow-hidden group" href="./news-item.html">
					<figure class="aspect-w-4 aspect-h-4 lg:aspect-h-3">
						<img
							class="object-cover transition-transform group-hover:scale-110"
							src="../assets/images/placeholder-4.webp"
							alt=""
						/>
					</figure>

					<div class="absolute inset-0 bg-gradient-to-t from-neutral-900/80 to-neutral-900/20"></div>

					<article class="p-24 absolute left-0 bottom-0 text-neutral-10">
						<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 bg-primary-300">News</small>
						<h4>Norris rues ‘shocking’ Sprint Qualifying lap in Austin as he admits ‘struggling the whole day’</h4>
					</article>
				</a>

				<div>
					<ul class="gap-16 grid grid-cols-2">
						<li class="link-overlay-box flex flex-col group">
							<figure class="aspect-w-4 aspect-h-3 rounded-16 rounded-br-0 overflow-hidden">
								<img
									class="object-cover transition-transform group-hover:scale-110"
									src="../assets/images/placeholder-2.jpg"
									alt=""
								/>
							</figure>

							<article
								class="pr-8 md:pr-16 pb-8 md:pb-16 mt-16 flex-1 border-r-2 border-b-2 border-neutral-40 rounded-br-16 transition-colors group-hover:border-primary-300"
							>
								<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 text-neutral-10 bg-primary-300"> News </small>

								<a class="link-overlay" href="./news-item.html">
									<p class="line-clamp-3">
										different engine contrast popular depth finest frozen series brick belong cook affect question
										current neighborhood act push wife brush wrapped event pig cent creature
									</p>
								</a>
							</article>
						</li>

						<li class="link-overlay-box flex flex-col group">
							<figure class="aspect-w-4 aspect-h-3 rounded-16 rounded-br-0 overflow-hidden">
								<img
									class="object-cover transition-transform group-hover:scale-110"
									src="../assets/images/placeholder-3.jpg"
									alt=""
								/>
							</figure>

							<article
								class="pr-8 md:pr-16 pb-8 md:pb-16 mt-16 flex-1 border-r-2 border-b-2 border-neutral-40 rounded-br-16 transition-colors group-hover:border-primary-300"
							>
								<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 text-neutral-10 bg-primary-300"> News </small>

								<a class="link-overlay" href="./news-item.html">
									<p class="line-clamp-3">
										person express pitch coast fewer fellow forest play himself wash arrive wild necessary equal agree
										whom course tax bar personal colony image pressure seen
									</p>
								</a>
							</article>
						</li>

						<li class="link-overlay-box flex flex-col group">
							<figure class="aspect-w-4 aspect-h-3 rounded-16 rounded-br-0 overflow-hidden">
								<img
									class="object-cover transition-transform group-hover:scale-110"
									src="../assets/images/placeholder-4.webp"
									alt=""
								/>
							</figure>

							<article
								class="pr-8 md:pr-16 pb-8 md:pb-16 mt-16 flex-1 border-r-2 border-b-2 border-neutral-40 rounded-br-16 transition-colors group-hover:border-primary-300"
							>
								<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 text-neutral-10 bg-primary-300"> News </small>

								<a class="link-overlay" href="./news-item.html">
									<p class="line-clamp-3">
										vessels rule government ship ball daily be rush desk individual average balloon no most wore aside
										gas third wheat west taste post softly straight
									</p>
								</a>
							</article>
						</li>

						<li class="link-overlay-box flex flex-col group">
							<figure class="aspect-w-4 aspect-h-3 rounded-16 rounded-br-0 overflow-hidden">
								<img
									class="object-cover transition-transform group-hover:scale-110"
									src="../assets/images/placeholder-3.jpg"
									alt=""
								/>
							</figure>

							<article
								class="pr-8 md:pr-16 pb-8 md:pb-16 mt-16 flex-1 border-r-2 border-b-2 border-neutral-40 rounded-br-16 transition-colors group-hover:border-primary-300"
							>
								<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 text-neutral-10 bg-primary-300"> News </small>

								<a class="link-overlay" href="./news-item.html">
									<p class="line-clamp-3">
										shake handsome lion cookies bar hit anything diagram bottom vertical time lie principal thing
										factory growth accident world meal terrible ought source camera thy
									</p>
								</a>
							</article>
						</li>

						<li class="link-overlay-box flex flex-col group">
							<figure class="aspect-w-4 aspect-h-3 rounded-16 rounded-br-0 overflow-hidden">
								<img
									class="object-cover transition-transform group-hover:scale-110"
									src="../assets/images/placeholder-1.jpg"
									alt=""
								/>
							</figure>

							<article
								class="pr-8 md:pr-16 pb-8 md:pb-16 mt-16 flex-1 border-r-2 border-b-2 border-neutral-40 rounded-br-16 transition-colors group-hover:border-primary-300"
							>
								<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 text-neutral-10 bg-primary-300"> News </small>

								<a class="link-overlay" href="./news-item.html">
									<p class="line-clamp-3">
										breakfast probably hunt represent fed separate kids fighting itself sitting good education hunter
										through attack moment chair private electricity broke loose last rays blank
									</p>
								</a>
							</article>
						</li>

						<li class="link-overlay-box flex flex-col group">
							<figure class="aspect-w-4 aspect-h-3 rounded-16 rounded-br-0 overflow-hidden">
								<img
									class="object-cover transition-transform group-hover:scale-110"
									src="../assets/images/placeholder-3.jpg"
									alt=""
								/>
							</figure>

							<article
								class="pr-8 md:pr-16 pb-8 md:pb-16 mt-16 flex-1 border-r-2 border-b-2 border-neutral-40 rounded-br-16 transition-colors group-hover:border-primary-300"
							>
								<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 text-neutral-10 bg-primary-300"> News </small>

								<a class="link-overlay" href="./news-item.html">
									<p class="line-clamp-3">
										scientific equally therefore fairly police wore bee individual pen sick story until height slept
										heading play double to specific subject buffalo settlers seldom pile
									</p>
								</a>
							</article>
						</li>
					</ul>

					<footer class="mt-24 text-center lg:text-left">
						<a class="button button-primary button-sm" href="./news.html">Show latest news</a>
					</footer>
				</div>
			</section>

			<section class="overflow-hidden">
				<div class="container mt-112">
					<div class="p-24 lg:p-56 relative rounded-tl-24 text-neutral-10 bg-[#581C87]">
						<article class="lg:w-1/2 relative z-30">
							<h3>EXPLAINED: Everything you need to know about the 2024 F1</h3>

							<p class="mt-16 mb-32">
								With the F1 Sprint back in action in Austin, here's a little refresher of the format in use for 2024...
							</p>

							<a class="button button-sm button-white" href="">Read more</a>
						</article>

						<div
							class="w-[952px] h-full hidden lg:block absolute right-0 bottom-0 bg-gradient-to-r z-20 from-[#581C87] to-[#581C87]/0"
						></div>

						<div
							class="w-[calc(100%+8px)] lg:w-[calc(100%+16px)] h-[calc(100%+8px)] lg:h-[calc(100%+16px)] absolute right-0 bottom-0 border-l-4 lg:border-l-8 border-t-4 lg:border-t-8 rounded-tl-32 border-[#581C87]"
						></div>

						<figure class="w-[1174px] xl:w-[1053px] hidden lg:block absolute -right-[223px] xl:-right-[101px] bottom-0 z-10">
							<img src="../assets/images/cta-background.png" alt="" />
						</figure>
					</div>
				</div>
			</section>

			<section class="mt-112 bg-neutral-30">
				<div class="container py-112">
					<header class="gap-8 lg:gap-16 flex justify-center">
						<button
							class="h6 p-16 w-full max-w-304 text-center border-t-2 border-l-2 rounded-tl-16 text-primary-300 border-primary-300"
							type="button"
						>
							DRIVERS
						</button>
						<button
							class="h6 p-16 w-full max-w-304 text-center border-r-2 border-b-2 rounded-br-16 text-neutral-60 border-neutral-60"
							type="button"
						>
							TEAMS
						</button>
					</header>

					<h3 class="mt-40 text-center">Driver Standings</h3>

					<div class="mt-56 lg:mt-136 gap-56 lg:gap-16 flex flex-col lg:flex-row">
						<div class="order-1 lg:order-2">
							<figure class="relative border-r-4 border-t-4 border-[#3671C6] rounded-tr-24 bg-background">
								<img class="-mt-40 lg:-mt-112 h-auto" src="../assets/images/drivers/verstappen.png" alt="" />
								<p class="display absolute top-16 left-32 font-semibold text-[#3671C6]">1</p>
							</figure>

							<footer class="px-24 py-16 flex justify-between items-center rounded-bl-24 text-neutral-10 bg-[#3671C6]">
								<div>
									<h6 class="-mb-2">Vax</h6>
									<h5>Merstappen</h5>
								</div>

								<h5>245PTS</h5>
							</footer>
						</div>

						<div class="order-2 lg:order-1">
							<figure class="relative border-l-4 border-t-4 border-[#FF8000] rounded-tl-24 bg-background">
								<img class="-mt-40 lg:-mt-112 h-auto" src="../assets/images/drivers/norris.png" alt="" />
								<p class="display absolute top-16 left-32 font-semibold text-[#FF8000]">2</p>
							</figure>

							<footer class="px-24 py-16 flex justify-between items-center rounded-b-24 text-neutral-10 bg-[#FF8000]">
								<div>
									<h6 class="-mb-2">Nando</h6>
									<h5>Lorris</h5>
								</div>

								<h5>240PTS</h5>
							</footer>
						</div>

						<div class="order-3">
							<figure class="relative border-l-4 border-t-4 border-[#E80020] rounded-tl-24 bg-background">
								<img class="-mt-40 lg:-mt-112 h-auto" src="../assets/images/drivers/leclerc.png" alt="" />
								<p class="display absolute top-16 left-32 font-semibold text-[#E80020]">3</p>
							</figure>

							<footer class="px-24 py-16 flex justify-between items-center rounded-br-24 text-neutral-10 bg-[#E80020]">
								<div>
									<h6 class="-mb-2">Larles</h6>
									<h5>Checlerc</h5>
								</div>

								<h5>235PTS</h5>
							</footer>
						</div>
					</div>

					<ul class="mt-40 rounded-16 lg:rounded-24 bg-background">
						<li
							class="px-16 lg:px-24 py-10 lg:py-16 flex justify-between items-center border-b last:border-b-0 border-neutral-40"
						>
							<div class="gap-8 lg:gap-16 flex items-center">
								<h6>1</h6>

								<div class="w-4 h-16 shrink-0 bg-[#3671C6]"></div>

								<div>
									<h6 class="hidden md:inline-block">Vax</h6>
									<h6 class="inline-block">Merstappen</h6>
								</div>

								<small class="text-neutral-100">Blue Bull Cycling</small>
							</div>

							<p class="lg:text-subheading font-bold">245PTS</p>
						</li>

						<li
							class="px-16 lg:px-24 py-10 lg:py-16 flex justify-between items-center border-b last:border-b-0 border-neutral-40"
						>
							<div class="gap-8 lg:gap-16 flex items-center">
								<h6>2</h6>

								<div class="w-4 h-16 shrink-0 bg-[#FF8000]"></div>

								<div>
									<h6 class="hidden md:inline-block">Nando</h6>
									<h6 class="inline-block">Lorris</h6>
								</div>

								<small class="text-neutral-100">LcMaren</small>
							</div>

							<p class="lg:text-subheading font-bold">240PTS</p>
						</li>

						<li
							class="px-16 lg:px-24 py-10 lg:py-16 flex justify-between items-center border-b last:border-b-0 border-neutral-40"
						>
							<div class="gap-8 lg:gap-16 flex items-center">
								<h6>3</h6>

								<div class="w-4 h-16 shrink-0 bg-[#E80020]"></div>

								<div>
									<h6 class="hidden md:inline-block">Larles</h6>
									<h6 class="inline-block">Checlerc</h6>
								</div>

								<small class="text-neutral-100">Peugeot</small>
							</div>

							<p class="lg:text-subheading font-bold">235PTS</p>
						</li>

						<li
							class="px-16 lg:px-24 py-10 lg:py-16 flex justify-between items-center border-b last:border-b-0 border-neutral-40"
						>
							<div class="gap-8 lg:gap-16 flex items-center">
								<h6>4</h6>

								<div class="w-4 h-16 shrink-0 bg-[#FF8000]"></div>

								<div>
									<h6 class="hidden md:inline-block">Poscar</h6>
									<h6 class="inline-block">Oiastri</h6>
								</div>

								<small class="text-neutral-100">LcMaren</small>
							</div>

							<p class="lg:text-subheading font-bold">230PTS</p>
						</li>

						<li
							class="px-16 lg:px-24 py-10 lg:py-16 flex justify-between items-center border-b last:border-b-0 border-neutral-40"
						>
							<div class="gap-8 lg:gap-16 flex items-center">
								<h6>5</h6>

								<div class="w-4 h-16 shrink-0 bg-[#E80020]"></div>

								<div>
									<h6 class="hidden md:inline-block">Sarlo</h6>
									<h6 class="inline-block">Cainz</h6>
								</div>

								<small class="text-neutral-100">Peugeot</small>
							</div>

							<p class="lg:text-subheading font-bold">225PTS</p>
						</li>

						<li
							class="px-16 lg:px-24 py-10 lg:py-16 flex justify-between items-center border-b last:border-b-0 border-neutral-40"
						>
							<div class="gap-8 lg:gap-16 flex items-center">
								<h6>6</h6>

								<div class="w-4 h-16 shrink-0 bg-[#27F4D2]"></div>

								<div>
									<h6 class="hidden md:inline-block">Hewis</h6>
									<h6 class="inline-block">Lamilton</h6>
								</div>

								<small class="text-neutral-100">Volkswagen</small>
							</div>

							<p class="lg:text-subheading font-bold">220PTS</p>
						</li>

						<li
							class="px-16 lg:px-24 py-10 lg:py-16 flex justify-between items-center border-b last:border-b-0 border-neutral-40"
						>
							<div class="gap-8 lg:gap-16 flex items-center">
								<h6>7</h6>

								<div class="w-4 h-16 shrink-0 bg-[#27F4D2]"></div>

								<div>
									<h6 class="hidden md:inline-block">Reorge</h6>
									<h6 class="inline-block">Gussel</h6>
								</div>

								<small class="text-neutral-100">Volkswagen</small>
							</div>

							<p class="lg:text-subheading font-bold">215PTS</p>
						</li>

						<li
							class="px-16 lg:px-24 py-10 lg:py-16 flex justify-between items-center border-b last:border-b-0 border-neutral-40"
						>
							<div class="gap-8 lg:gap-16 flex items-center">
								<h6>8</h6>

								<div class="w-4 h-16 shrink-0 bg-[#3671C6]"></div>

								<div>
									<h6 class="hidden md:inline-block">Pergio</h6>
									<h6 class="inline-block">Serez</h6>
								</div>

								<small class="text-neutral-100">Blue Bull Cycling</small>
							</div>

							<p class="lg:text-subheading font-bold">210PTS</p>
						</li>
					</ul>

					<footer class="mt-40 text-center">
						<a class="button button-sm button-primary" href="./drivers.html">View full standings</a>
					</footer>
				</div>
			</section>

			<section class="container pt-112">
				<header class="mb-16 gap-16 flex items-center">
					<h3 class="shrink-0">Explore F1 topics</h3>
					<div class="w-full h-10 bg-primary-300"></div>
				</header>

				<ul class="gap-16 grid grid-cols-2 lg:grid-cols-4">
					<li>
						<a
							class="h-200 rounded-16 relative overflow-hidden text-neutral-10 group"
							href="https://www.formula1.com/en/latest/tags/impact.2Xv0Ky85GUqpD8aP9sgUwq"
							target="_blank"
						>
							<h4 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20">Impact</h4>
							<div class="absolute inset-0 bg-gradient-to-t from-neutral-900/80 to-neutral-900/20 z-10"></div>
							<img
								class="object-cover transition-transform group-hover:scale-110"
								src="../assets/images/placeholder-1.jpg"
								alt=""
							/>
						</a>
					</li>

					<li>
						<a
							class="h-200 rounded-16 relative overflow-hidden text-neutral-10 group"
							href="https://www.formula1.com/en/latest/tags/race-calendar.2Sa4DEdBSUMcOqa8aYceEe"
							target="_blank"
						>
							<h4 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20">Calendar</h4>
							<div class="absolute inset-0 bg-gradient-to-t from-neutral-900/80 to-neutral-900/20 z-10"></div>
							<img
								class="object-cover transition-transform group-hover:scale-110"
								src="../assets/images/placeholder-2.jpg"
								alt=""
							/>
						</a>
					</li>

					<li>
						<a
							class="h-200 rounded-16 relative overflow-hidden text-neutral-10 group"
							href="https://www.formula1.com/en/latest/tags/podcasts.5Wy3IsJQnmweQC6igqEOio"
							target="_blank"
						>
							<h4 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20">Podcasts</h4>
							<div class="absolute inset-0 bg-gradient-to-t from-neutral-900/80 to-neutral-900/20 z-10"></div>
							<img
								class="object-cover transition-transform group-hover:scale-110"
								src="../assets/images/placeholder-3.jpg"
								alt=""
							/>
						</a>
					</li>

					<li>
						<a
							class="h-200 rounded-16 relative overflow-hidden text-neutral-10 group"
							href="https://www.formula1.com/en/latest/tags/esports.N0CpHwC3MAUK4iwAEYi6e"
							target="_blank"
						>
							<h4 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20">Esports</h4>
							<div class="absolute inset-0 bg-gradient-to-t from-neutral-900/80 to-neutral-900/20 z-10"></div>
							<img
								class="object-cover transition-transform group-hover:scale-110"
								src="../assets/images/placeholder-4.webp"
								alt=""
							/>
						</a>
					</li>
				</ul>
			</section>
		</main>

		<footer class="mt-112 bg-neutral-900">
			<div class="container">
				<header class="pt-40 pb-16 gap-16 flex justify-center items-center">
					<img class="w-88" src="../assets/images/logo-color.svg" alt="EF1 Logo" />
					<h6 class="text-neutral-10">Our partners</h6>
				</header>

				<div class="pb-24 flex flex-wrap justify-center items-center border-b border-neutral-600">
					<img class="w-112" src="../assets/images/logos/image-2.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-3.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-4.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-5.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-6.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-7.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-8.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-10.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-11.png" alt="" />
				</div>

				<div class="pb-24 flex flex-wrap justify-center items-center border-b border-neutral-600">
					<img class="w-112" src="../assets/images/logos/image-12.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-13.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-14.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-15.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-16.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-17.png" alt="" />
				</div>

				<aside class="py-24 flex justify-between items-center">
					<img class="w-80 xl:w-112" src="../assets/images/logo.svg" alt="EF1 Logo" />
					<small class="text-xs text-neutral-60">© 2024 EF1 World Championship Limited</small>
				</aside>
			</div>
		</footer>
	</body>
</html>
