<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../assets/css/app.css" />
		<script src="../assets/js/app.js"></script>
		<title>EF1</title>
	</head>
	<body>
		<header>
			<nav class="w-full fixed top-0 left-0 z-100 text-neutral-10 bg-primary-300">
				<div class="container py-8 xl:py-16 mx-auto flex justify-between items-center">
					<a href="./index.html">
						<img class="w-80 xl:w-112" src="../assets/images/logo.svg" alt="EF1 Logo" />
					</a>

					<button class="navbar-mobile-menu-button" type="menu" aria-label="Mobile menu">
						<div class="line line-01"></div>
						<div class="line line-02"></div>
					</button>

					<div class="navbar-menu">
						<ul class="navbar-menu-list gap-y-16 xl:gap-y-0 xl:gap-x-32">
							<li>
								<a class="navbar-menu-link active" href="./news.html">News</a>
							</li>

							<li>
								<a class="navbar-menu-link" href="./drivers.html">Drivers</a>
							</li>

							<li>
								<a class="navbar-menu-link" href="./teams.html">Teams</a>
							</li>

							<li class="hidden xl:block">
								<a class="button button-xs button-white" href="./login.html">Login</a>
							</li>
						</ul>

						<aside class="block xl:hidden">
							<a class="button button-primary button-base w-full" href="">Login</a>
						</aside>
					</div>
				</div>
			</nav>
		</header>

		<main>
			<aside class="container">
				<div class="gap-16 px-24 py-16 flex flex-wrap justify-between items-center rounded-16 text-neutral-10 bg-neutral-900">
					<div class="flex items-center">
						<figure class="pt-8 pr-8 mr-8 w-56 shrink-0 border-r-2 border-t-2 border-neutral-200 rounded-tr-8">
							<img src="../assets/images/map.png" alt="" />
						</figure>

						<div>
							<small class="font-bold text-xs text-neutral-60">18 - 20 October</small>
							<h4>UNITED STATES</h4>
						</div>
					</div>

					<div class="gap-16 flex pt-8 pl-8 border-t-2 border-l-2 border-primary-300 rounded-tl-16">
						<div class="text-center">
							<h4 id="count-down-hrs">00</h4>
							<h6 class="text-neutral-80">HRS</h6>
						</div>

						<div class="text-center">
							<h4 id="count-down-min">00</h4>
							<h6 class="text-neutral-80">MIN</h6>
						</div>

						<div class="text-center">
							<h4 id="count-down-sec">00</h4>
							<h6 class="text-neutral-80">SEC</h6>
						</div>
					</div>
				</div>
			</aside>

			<section class="container">
				<div class="flag-pattern"></div>
			</section>

			<section class="container">
				<h2 class="lg:h1 pr-16 inline-block relative z-10 bg-background">News</h2>

				<div
					class="pt-[28px] lg:pt-40 pr-0 lg:pr-40 -mt-[28px] lg:-mt-40 border-t-10 border-r-0 lg:border-r-10 rounded-tr-0 lg:rounded-tr-40 border-primary-300"
				>
					<ul class="gap-16 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
						<li class="link-overlay-box flex flex-col group">
							<figure class="aspect-w-4 aspect-h-3 rounded-16 rounded-br-0 overflow-hidden">
								<img
									class="object-cover transition-transform group-hover:scale-110"
									src="../assets/images/placeholder-2.jpg"
									alt=""
								/>
							</figure>

							<article
								class="pr-8 md:pr-16 pb-8 md:pb-16 mt-16 flex-1 border-r-2 border-b-2 border-neutral-40 rounded-br-16 transition-colors group-hover:border-primary-300"
							>
								<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 text-neutral-10 bg-primary-300"> News </small>

								<a class="link-overlay" href="./news-item.html">
									<p class="line-clamp-3">
										remain easier rocket closely home indicate begun distant enter using air talk loud lying women teach
										walk stay slowly thought glad has leader suddenly
									</p>
								</a>
							</article>
						</li>

						<li class="link-overlay-box flex flex-col group">
							<figure class="aspect-w-4 aspect-h-3 rounded-16 rounded-br-0 overflow-hidden">
								<img
									class="object-cover transition-transform group-hover:scale-110"
									src="../assets/images/placeholder-3.jpg"
									alt=""
								/>
							</figure>

							<article
								class="pr-8 md:pr-16 pb-8 md:pb-16 mt-16 flex-1 border-r-2 border-b-2 border-neutral-40 rounded-br-16 transition-colors group-hover:border-primary-300"
							>
								<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 text-neutral-10 bg-primary-300"> News </small>

								<a class="link-overlay" href="./news-item.html">
									<p class="line-clamp-3">
										pretty atmosphere see tribe medicine throat gate uncle youth whatever past bee tax court particular
										vessels appearance port television together somehow cookies wheel doctor
									</p>
								</a>
							</article>
						</li>

						<li class="link-overlay-box flex flex-col group">
							<figure class="aspect-w-4 aspect-h-3 rounded-16 rounded-br-0 overflow-hidden">
								<img
									class="object-cover transition-transform group-hover:scale-110"
									src="../assets/images/placeholder-4.webp"
									alt=""
								/>
							</figure>

							<article
								class="pr-8 md:pr-16 pb-8 md:pb-16 mt-16 flex-1 border-r-2 border-b-2 border-neutral-40 rounded-br-16 transition-colors group-hover:border-primary-300"
							>
								<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 text-neutral-10 bg-primary-300"> News </small>

								<a class="link-overlay" href="./news-item.html">
									<p class="line-clamp-3">
										dog art judge bread thirty monkey last metal triangle organized generally soldier rubber meet danger
										with laid topic rhyme sort battle swam young yard
									</p>
								</a>
							</article>
						</li>

						<li class="link-overlay-box flex flex-col group">
							<figure class="aspect-w-4 aspect-h-3 rounded-16 rounded-br-0 overflow-hidden">
								<img
									class="object-cover transition-transform group-hover:scale-110"
									src="../assets/images/placeholder-3.jpg"
									alt=""
								/>
							</figure>

							<article
								class="pr-8 md:pr-16 pb-8 md:pb-16 mt-16 flex-1 border-r-2 border-b-2 border-neutral-40 rounded-br-16 transition-colors group-hover:border-primary-300"
							>
								<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 text-neutral-10 bg-primary-300"> News </small>

								<a class="link-overlay" href="./news-item.html">
									<p class="line-clamp-3">
										degree importance wherever yet rose completely numeral citizen fell something loud prove peace guess
										school law pine mean mathematics caught amount court broken bush
									</p>
								</a>
							</article>
						</li>

						<li class="link-overlay-box flex flex-col group">
							<figure class="aspect-w-4 aspect-h-3 rounded-16 rounded-br-0 overflow-hidden">
								<img
									class="object-cover transition-transform group-hover:scale-110"
									src="../assets/images/placeholder-1.jpg"
									alt=""
								/>
							</figure>

							<article
								class="pr-8 md:pr-16 pb-8 md:pb-16 mt-16 flex-1 border-r-2 border-b-2 border-neutral-40 rounded-br-16 transition-colors group-hover:border-primary-300"
							>
								<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 text-neutral-10 bg-primary-300"> News </small>

								<a class="link-overlay" href="./news-item.html">
									<p class="line-clamp-3">
										top thy rope map object stage brief when above basket figure appearance finger nodded yes funny
										arrive direction choice reach coast increase terrible past
									</p>
								</a>
							</article>
						</li>

						<li class="link-overlay-box flex flex-col group">
							<figure class="aspect-w-4 aspect-h-3 rounded-16 rounded-br-0 overflow-hidden">
								<img
									class="object-cover transition-transform group-hover:scale-110"
									src="../assets/images/placeholder-3.jpg"
									alt=""
								/>
							</figure>

							<article
								class="pr-8 md:pr-16 pb-8 md:pb-16 mt-16 flex-1 border-r-2 border-b-2 border-neutral-40 rounded-br-16 transition-colors group-hover:border-primary-300"
							>
								<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 text-neutral-10 bg-primary-300"> News </small>

								<a class="link-overlay" href="./news-item.html">
									<p class="line-clamp-3">
										cattle join president airplane roof surrounded certainly wealth very mixture carry light able slave
										birthday railroad nervous careful also nature limited basis quick lady
									</p>
								</a>
							</article>
						</li>

						<li class="link-overlay-box flex flex-col group">
							<figure class="aspect-w-4 aspect-h-3 rounded-16 rounded-br-0 overflow-hidden">
								<img
									class="object-cover transition-transform group-hover:scale-110"
									src="../assets/images/placeholder-1.jpg"
									alt=""
								/>
							</figure>

							<article
								class="pr-8 md:pr-16 pb-8 md:pb-16 mt-16 flex-1 border-r-2 border-b-2 border-neutral-40 rounded-br-16 transition-colors group-hover:border-primary-300"
							>
								<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 text-neutral-10 bg-primary-300"> News </small>

								<a class="link-overlay" href="./news-item.html">
									<p class="line-clamp-3">
										dirt almost throughout myself than belt welcome sort height dozen seat wall heat instance onto
										cannot suit temperature earlier pleasure without nice object cloud
									</p>
								</a>
							</article>
						</li>

						<li class="link-overlay-box flex flex-col group">
							<figure class="aspect-w-4 aspect-h-3 rounded-16 rounded-br-0 overflow-hidden">
								<img
									class="object-cover transition-transform group-hover:scale-110"
									src="../assets/images/placeholder-3.jpg"
									alt=""
								/>
							</figure>

							<article
								class="pr-8 md:pr-16 pb-8 md:pb-16 mt-16 flex-1 border-r-2 border-b-2 border-neutral-40 rounded-br-16 transition-colors group-hover:border-primary-300"
							>
								<small class="px-5 py-2 mb-8 inline-block font-bold rounded-4 text-neutral-10 bg-primary-300"> News </small>

								<a class="link-overlay" href="./news-item.html">
									<p class="line-clamp-3">
										drop nervous lucky hit crack amount distant equal laid ship fact ever fuel replace changing load
										hello them dark double far five extra typical
									</p>
								</a>
							</article>
						</li>
					</ul>
				</div>
			</section>

			<section class="container pt-112">
				<header class="mb-16 gap-16 flex items-center">
					<h3 class="shrink-0">Explore F1 topics</h3>
					<div class="w-full h-10 bg-primary-300"></div>
				</header>

				<ul class="gap-16 grid grid-cols-2 lg:grid-cols-4">
					<li>
						<a
							class="h-200 rounded-16 relative overflow-hidden text-neutral-10 group"
							href="https://www.formula1.com/en/latest/tags/impact.2Xv0Ky85GUqpD8aP9sgUwq"
							target="_blank"
						>
							<h4 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20">Impact</h4>
							<div class="absolute inset-0 bg-gradient-to-t from-neutral-900/80 to-neutral-900/20 z-10"></div>
							<img
								class="object-cover transition-transform group-hover:scale-110"
								src="../assets/images/placeholder-1.jpg"
								alt=""
							/>
						</a>
					</li>

					<li>
						<a
							class="h-200 rounded-16 relative overflow-hidden text-neutral-10 group"
							href="https://www.formula1.com/en/latest/tags/race-calendar.2Sa4DEdBSUMcOqa8aYceEe"
							target="_blank"
						>
							<h4 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20">Calendar</h4>
							<div class="absolute inset-0 bg-gradient-to-t from-neutral-900/80 to-neutral-900/20 z-10"></div>
							<img
								class="object-cover transition-transform group-hover:scale-110"
								src="../assets/images/placeholder-2.jpg"
								alt=""
							/>
						</a>
					</li>

					<li>
						<a
							class="h-200 rounded-16 relative overflow-hidden text-neutral-10 group"
							href="https://www.formula1.com/en/latest/tags/podcasts.5Wy3IsJQnmweQC6igqEOio"
							target="_blank"
						>
							<h4 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20">Podcasts</h4>
							<div class="absolute inset-0 bg-gradient-to-t from-neutral-900/80 to-neutral-900/20 z-10"></div>
							<img
								class="object-cover transition-transform group-hover:scale-110"
								src="../assets/images/placeholder-3.jpg"
								alt=""
							/>
						</a>
					</li>

					<li>
						<a
							class="h-200 rounded-16 relative overflow-hidden text-neutral-10 group"
							href="https://www.formula1.com/en/latest/tags/esports.N0CpHwC3MAUK4iwAEYi6e"
							target="_blank"
						>
							<h4 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20">Esports</h4>
							<div class="absolute inset-0 bg-gradient-to-t from-neutral-900/80 to-neutral-900/20 z-10"></div>
							<img
								class="object-cover transition-transform group-hover:scale-110"
								src="../assets/images/placeholder-4.webp"
								alt=""
							/>
						</a>
					</li>
				</ul>
			</section>
		</main>

		<footer class="mt-128 bg-neutral-900">
			<div class="container">
				<header class="pt-40 pb-16 gap-16 flex justify-center items-center">
					<img class="w-88" src="../assets/images/logo-color.svg" alt="EF1 Logo" />
					<h6 class="text-neutral-10">Our partners</h6>
				</header>

				<div class="pb-24 flex flex-wrap justify-center items-center border-b border-neutral-600">
					<img class="w-112" src="../assets/images/logos/image-2.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-3.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-4.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-5.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-6.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-7.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-8.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-10.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-11.png" alt="" />
				</div>

				<div class="pb-24 flex flex-wrap justify-center items-center border-b border-neutral-600">
					<img class="w-112" src="../assets/images/logos/image-12.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-13.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-14.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-15.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-16.png" alt="" />
					<img class="w-112" src="../assets/images/logos/image-17.png" alt="" />
				</div>

				<aside class="py-24 flex justify-between items-center">
					<img class="w-80 xl:w-112" src="../assets/images/logo.svg" alt="EF1 Logo" />
					<small class="text-xs text-neutral-60">© 2024 EF1 World Championship Limited</small>
				</aside>
			</div>
		</footer>
	</body>
</html>
