<section class="xl:p-24 h-[100dvh] flex justify-center relative">
	<div class="px-32 w-full max-w-[400px] flex items-center relative">
		<aside class="w-full absolute left-1/2 bottom-24 xl:bottom-0 -translate-x-1/2">
			<p class="text-sm text-center text-neutral-100">
				Already have an account?
				<a class="underline text-primary-300 hover:text-primary-100 transition-colors duration-300" href="/auth/login"> Login </a>
			</p>
		</aside>

        <div class="mb-56 w-full">
			<article class="mb-24 text-center">
				<a class="text-sm underline text-primary-300 hover:text-primary-100 transition-colors duration-300" href="/"> Back home </a>

				<h2>Register</h2>
			</article>

			<form class="gap-8 w-full flex flex-col" action="/auth/register" method="POST">
				<input type="text" placeholder="Name" name="name" />
				<input type="email" placeholder="Email" name="email" />
				<input type="password" placeholder="Password" name="password" />
                <input type="password" placeholder="Repeat password" name="repeatPassword" />
				<button class="button button-base button-primary w-full" type="submit">Create account</button>
			</form>
		</div>
	</div>
</section>
