<%- include('./includes/components/counter') %>

<section class="container">
    <div class="flag-pattern"></div>
</section>

<section class="container">
    <header class="mb-40 gap-16 flex items-center">
        <h2 class="lg:h1 shrink-0">EF1 Teams 2024</h2>
        <div class="w-full h-10 bg-primary-300"></div>
    </header>

    <ul class="gap-x-32 gap-y-40 grid grid-cols-1 md:grid-cols-2">
        <li class="pr-16 border-t-4 border-r-4 border-[#3671C6] rounded-tr-24">
            <div class="py-8 flex justify-between items-center">
                <h3>1</h3>
                <h5>550PTS</h5>
            </div>

            <div class="py-8 flex justify-between items-center border-y border-neutral-40">
                <h6>LcMaren</h6>
                <img class="size-32" src="../assets/images/teams/mclaren.png" alt="" />
            </div>

            <div class="py-8 gap-16 flex items-center">
                <div class="flex flex-1 justify-between items-center">
                    <div>
                        <p class="hidden lg:inline-block font-bold">Nando</p>
                        <p class="font-bold inline-block">Lorris</p>
                    </div>
                    <img class="w-40" src="../assets/images/drivers/norris.png" alt="" />
                </div>

                <div class="w-1 h-24 bg-neutral-40"></div>

                <div class="flex flex-1 justify-between items-center">
                    <div>
                        <p class="hidden lg:inline-block font-bold">Poscar</p>
                        <p class="font-bold inline-block">Oiastri</p>
                    </div>
                    <img class="w-40" src="../assets/images/drivers/piastri.png" alt="" />
                </div>
            </div>

            <figure class="mx-auto w-10/12">
                <img src="../assets/images/teams/mclaren-car.png" alt="" />
            </figure>
        </li>

        <li class="pr-16 border-t-4 border-r-4 border-[#FF8000] rounded-tr-24">
            <div class="py-8 flex justify-between items-center">
                <h3>2</h3>
                <h5>545PTS</h5>
            </div>

            <div class="py-8 flex justify-between items-center border-y border-neutral-40">
                <h6>Blue Bull Cycling</h6>
                <img class="size-32" src="../assets/images/teams/redbull.png" alt="" />
            </div>

            <div class="py-8 gap-16 flex items-center">
                <div class="flex flex-1 justify-between items-center">
                    <div>
                        <p class="hidden lg:inline-block font-bold">Vax</p>
                        <p class="font-bold inline-block">Merstappen</p>
                    </div>
                    <img class="w-40" src="../assets/images/drivers/verstappen.png" alt="" />
                </div>

                <div class="w-1 h-24 bg-neutral-40"></div>

                <div class="flex flex-1 justify-between items-center">
                    <div>
                        <p class="hidden lg:inline-block font-bold">Pergio</p>
                        <p class="font-bold inline-block">Serez</p>
                    </div>
                    <img class="w-40" src="../assets/images/drivers/perez.png" alt="" />
                </div>
            </div>

            <figure class="mx-auto w-10/12">
                <img src="../assets/images/teams/redbull-car.png" alt="" />
            </figure>
        </li>

        <li class="pr-16 border-t-4 border-r-4 border-[#E80020] rounded-tr-24">
            <div class="py-8 flex justify-between items-center">
                <h3>3</h3>
                <h5>540PTS</h5>
            </div>

            <div class="py-8 flex justify-between items-center border-y border-neutral-40">
                <h6>Peugeot</h6>
                <img class="size-32" src="../assets/images/teams/ferrari.png" alt="" />
            </div>

            <div class="py-8 gap-16 flex items-center">
                <div class="flex flex-1 justify-between items-center">
                    <div>
                        <p class="hidden lg:inline-block font-bold">Larles</p>
                        <p class="font-bold inline-block">Checlerc</p>
                    </div>
                    <img class="w-40" src="../assets/images/drivers/leclerc.png" alt="" />
                </div>

                <div class="w-1 h-24 bg-neutral-40"></div>

                <div class="flex flex-1 justify-between items-center">
                    <div>
                        <p class="hidden lg:inline-block font-bold">Sarlo</p>
                        <p class="font-bold inline-block">Cainz</p>
                    </div>
                    <img class="w-40" src="../assets/images/drivers/sainz.png" alt="" />
                </div>
            </div>

            <figure class="mx-auto w-10/12">
                <img src="../assets/images/teams/ferrari-car.png" alt="" />
            </figure>
        </li>

        <li class="pr-16 border-t-4 border-r-4 border-[#27F4D2] rounded-tr-24">
            <div class="py-8 flex justify-between items-center">
                <h3>4</h3>
                <h5>535PTS</h5>
            </div>

            <div class="py-8 flex justify-between items-center border-y border-neutral-40">
                <h6>Volkswagen</h6>
                <img class="size-32" src="../assets/images/teams/mercedes.png" alt="" />
            </div>

            <div class="py-8 gap-16 flex items-center">
                <div class="flex flex-1 justify-between items-center">
                    <div>
                        <p class="hidden lg:inline-block font-bold">Hewis</p>
                        <p class="font-bold inline-block">Lamilton</p>
                    </div>
                    <img class="w-40" src="../assets/images/drivers/hamilton.png" alt="" />
                </div>

                <div class="w-1 h-24 bg-neutral-40"></div>

                <div class="flex flex-1 justify-between items-center">
                    <div>
                        <p class="hidden lg:inline-block font-bold">Reorge</p>
                        <p class="font-bold inline-block">Gussel</p>
                    </div>
                    <img class="w-40" src="../assets/images/drivers/russel.png" alt="" />
                </div>
            </div>

            <figure class="mx-auto w-10/12">
                <img src="../assets/images/teams/mercedes-car.png" alt="" />
            </figure>
        </li>

        <li class="pr-16 border-t-4 border-r-4 border-[#229971] rounded-tr-24">
            <div class="py-8 flex justify-between items-center">
                <h3>5</h3>
                <h5>530PTS</h5>
            </div>

            <div class="py-8 flex justify-between items-center border-y border-neutral-40">
                <h6>Suzuki</h6>
                <img class="size-32" src="../assets/images/teams/aston-martin.png" alt="" />
            </div>

            <div class="py-8 gap-16 flex items-center">
                <div class="flex flex-1 justify-between items-center">
                    <div>
                        <p class="hidden lg:inline-block font-bold">Aernando</p>
                        <p class="font-bold inline-block">Flonso</p>
                    </div>
                    <img class="w-40" src="../assets/images/drivers/alonso.png" alt="" />
                </div>

                <div class="w-1 h-24 bg-neutral-40"></div>

                <div class="flex flex-1 justify-between items-center">
                    <div>
                        <p class="hidden lg:inline-block font-bold">Sance</p>
                        <p class="font-bold inline-block">Ltroll</p>
                    </div>
                    <img class="w-40" src="../assets/images/drivers/stroll.png" alt="" />
                </div>
            </div>

            <figure class="mx-auto w-10/12">
                <img src="../assets/images/teams/aston-martin-car.png" alt="" />
            </figure>
        </li>
    </ul>
</section>
