<div class="container">
    <header class="pt-40 pb-16 gap-16 flex justify-center items-center">
        <img class="w-88" src="../images/logo-color.svg" alt="EF1 Logo" />
        <h6 class="text-neutral-10">Our partners</h6>
    </header>

    <div class="pb-24 flex flex-wrap justify-center items-center border-b border-neutral-600">
        <img class="w-112" src="../images/logos/image-2.png" alt="" />
        <img class="w-112" src="../images/logos/image-3.png" alt="" />
        <img class="w-112" src="../images/logos/image-4.png" alt="" />
        <img class="w-112" src="../images/logos/image-5.png" alt="" />
        <img class="w-112" src="../images/logos/image-6.png" alt="" />
        <img class="w-112" src="../images/logos/image-7.png" alt="" />
        <img class="w-112" src="../images/logos/image-8.png" alt="" />
        <img class="w-112" src="../images/logos/image-10.png" alt="" />
        <img class="w-112" src="../images/logos/image-11.png" alt="" />
    </div>

    <div class="pb-24 flex flex-wrap justify-center items-center border-b border-neutral-600">
        <img class="w-112" src="../images/logos/image-12.png" alt="" />
        <img class="w-112" src="../images/logos/image-13.png" alt="" />
        <img class="w-112" src="../images/logos/image-14.png" alt="" />
        <img class="w-112" src="../images/logos/image-15.png" alt="" />
        <img class="w-112" src="../images/logos/image-16.png" alt="" />
        <img class="w-112" src="../images/logos/image-17.png" alt="" />
    </div>

    <aside class="py-24 flex justify-between items-center">
        <img class="w-80 xl:w-112" src="../images/logo.svg" alt="EF1 Logo" />
        <small class="text-xs text-neutral-60">© 2024 EF1 World Championship Limited</small>
    </aside>
</div>