<nav class="w-full fixed top-0 left-0 z-100 text-neutral-10 bg-primary-300">
	<div class="container py-8 xl:py-0 mx-auto flex justify-between items-center">
		<a href="/">
			<img class="w-80 xl:w-112" src="/images/logo.svg" alt="EF1 Logo" />
		</a>

		<button class="navbar-mobile-menu-button" type="menu" aria-label="Mobile menu">
			<div class="line line-01"></div>
			<div class="line line-02"></div>
		</button>

		<div class="navbar-menu">
			<ul class="navbar-menu-list gap-y-16 xl:gap-y-0 xl:gap-x-32">
				<li>
					<a class="navbar-menu-link <%= activeNav == 'blog' ? 'active' : '' %>" href="/blog">Blog</a>
				</li>

				<li>
					<a class="navbar-menu-link <%= activeNav == 'drivers' ? 'active' : '' %>" href="/drivers">Drivers</a>
				</li>

				<li>
					<a class="navbar-menu-link <%= activeNav == 'teams' ? 'active' : '' %>" href="/teams">Teams</a>
				</li>
			</ul>

            <% if (!locals.user) { %>
                <a class="button button-sm xl:button-xs button-primary xl:button-white" href="/auth/login">Login</a>
            <% } else { %>
                <div class="user-menu">
                    <button class="user-menu-button" type="menu">
                        <img src="/images/icons/user.svg" alt="">
                    </button>

                    <ul class="user-menu-list hidden">
                        <li class="user-menu-list-item">
                            <a class="w-full" href="/admin">Admin</a>
                        </li>

                        <li class="user-menu-list-item">
                            <form action="/auth/logout" method="POST">
                                <button class="gap-4 w-full flex items-center text-left" type="submit">
                                    Logout
                                    <span class="text-xs font-normal text-neutral-400">(<%= locals.user.name %>)</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            <% } %>
		</div>
	</div>
</nav>
