<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="/assets/css/app.css" />
<link rel="icon" href="/assets/images/logo-color.svg" />

<script src="/assets/js/app.js" defer></script>

<title>EF1 - The Alternative Home of Formula 1® Racing</title>
