<nav class="w-full fixed top-0 left-0 z-100 text-neutral-10 bg-primary-300">
	<div class="container py-8 xl:py-16 mx-auto flex justify-between items-center">
		<a href="/">
			<img class="w-80 xl:w-112" src="../images/logo.svg" alt="EF1 Logo" />
		</a>

		<button class="navbar-mobile-menu-button" type="menu" aria-label="Mobile menu">
			<div class="line line-01"></div>
			<div class="line line-02"></div>
		</button>

		<div class="navbar-menu">
			<ul class="navbar-menu-list gap-y-16 xl:gap-y-0 xl:gap-x-32">
				<li>
					<a class="navbar-menu-link <%= activeNav == 'blog' ? 'active' : '' %>" href="/blog">Blog</a>
				</li>

				<li>
					<a class="navbar-menu-link <%= activeNav == 'drivers' ? 'active' : '' %>" href="/drivers">Drivers</a>
				</li>

				<li>
					<a class="navbar-menu-link <%= activeNav == 'teams' ? 'active' : '' %>" href="/teams">Teams</a>
				</li>

				<li class="hidden xl:block">
					<a class="button button-xs button-white" href="/auth/login">Login</a>
				</li>
			</ul>

			<aside class="block xl:hidden">
				<a class="button button-primary button-base w-full" href="/auth/login">Login</a>
			</aside>
		</div>
	</div>
</nav>
