<%- include('./includes/components/counter') %>

<section class="container">
    <div class="flag-pattern"></div>
</section>

<section class="container">
    <header class="mb-40 gap-16 flex items-center">
        <h2 class="lg:h1 shrink-0">EF1 Drivers 2024</h2>
        <div class="w-full h-10 bg-primary-300"></div>
    </header>

    <ul class="gap-x-32 gap-y-40 grid grid-cols-12">
        <li class="col-span-12 md:col-span-4 border-t-4 border-r-4 border-[#3671C6] rounded-tr-24">
            <figure class="pt-16">
                <img src="/images/drivers/verstappen.png" alt="" />
            </figure>

            <footer class="pr-16">
                <div class="py-8 flex justify-between items-center border-b border-neutral-40">
                    <div>
                        <h6 class="-mb-2">Vax</h6>
                        <h5>Merstappen</h5>
                    </div>

                    <small class="text-neutral-100">Blue Bull Cycling</small>
                </div>

                <div class="pt-8 flex justify-between items-center">
                    <h3>1</h3>
                    <h5>245PTS</h5>
                </div>
            </footer>
        </li>

        <li class="col-span-12 md:col-span-4 border-t-4 border-r-4 border-[#FF8000] rounded-tr-24">
            <figure class="pt-16">
                <img src="/images/drivers/norris.png" alt="" />
            </figure>

            <footer class="pr-16">
                <div class="py-8 flex justify-between items-center border-b border-neutral-40">
                    <div>
                        <h6 class="-mb-2">Nando</h6>
                        <h5>Lorris</h5>
                    </div>

                    <small class="text-neutral-100">LcMaren</small>
                </div>

                <div class="pt-8 flex justify-between items-center">
                    <h3>2</h3>
                    <h5>240PTS</h5>
                </div>
            </footer>
        </li>

        <li class="col-span-12 md:col-span-4 border-t-4 border-r-4 border-[#E80020] rounded-tr-24">
            <figure class="pt-16">
                <img src="/images/drivers/leclerc.png" alt="" />
            </figure>

            <footer class="pr-16">
                <div class="py-8 flex justify-between items-center border-b border-neutral-40">
                    <div>
                        <h6 class="-mb-2">Larles</h6>
                        <h5>Checlerc</h5>
                    </div>

                    <small class="text-neutral-100">Peugeot</small>
                </div>

                <div class="pt-8 flex justify-between items-center">
                    <h3>3</h3>
                    <h5>235PTS</h5>
                </div>
            </footer>
        </li>

        <li class="col-span-12 md:col-span-4 lg:col-span-3 border-t-4 border-r-4 border-[#FF8000] rounded-tr-24">
            <figure class="pt-16">
                <img src="/images/drivers/piastri.png" alt="" />
            </figure>

            <footer class="pr-16">
                <div class="py-8 flex justify-between items-center border-b border-neutral-40">
                    <div>
                        <h6 class="-mb-2">Poscar</h6>
                        <h5>Oiastri</h5>
                    </div>

                    <small class="text-neutral-100">LcMaren</small>
                </div>

                <div class="pt-8 flex justify-between items-center">
                    <h3>4</h3>
                    <h5>230PTS</h5>
                </div>
            </footer>
        </li>

        <li class="col-span-12 md:col-span-4 lg:col-span-3 border-t-4 border-r-4 border-[#E80020] rounded-tr-24">
            <figure class="pt-16">
                <img src="/images/drivers/sainz.png" alt="" />
            </figure>

            <footer class="pr-16">
                <div class="py-8 flex justify-between items-center border-b border-neutral-40">
                    <div>
                        <h6 class="-mb-2">Sarlo</h6>
                        <h5>Cainz</h5>
                    </div>

                    <small class="text-neutral-100">Peugeot</small>
                </div>

                <div class="pt-8 flex justify-between items-center">
                    <h3>5</h3>
                    <h5>225PTS</h5>
                </div>
            </footer>
        </li>

        <li class="col-span-12 md:col-span-4 lg:col-span-3 border-t-4 border-r-4 border-[#27F4D2] rounded-tr-24">
            <figure class="pt-16">
                <img src="/images/drivers/hamilton.png" alt="" />
            </figure>

            <footer class="pr-16">
                <div class="py-8 flex justify-between items-center border-b border-neutral-40">
                    <div>
                        <h6 class="-mb-2">Hewis</h6>
                        <h5>Lamilton</h5>
                    </div>

                    <small class="text-neutral-100">Volkswagen</small>
                </div>

                <div class="pt-8 flex justify-between items-center">
                    <h3>6</h3>
                    <h5>220PTS</h5>
                </div>
            </footer>
        </li>

        <li class="col-span-12 md:col-span-4 lg:col-span-3 border-t-4 border-r-4 border-[#27F4D2] rounded-tr-24">
            <figure class="pt-16">
                <img src="/images/drivers/russel.png" alt="" />
            </figure>

            <footer class="pr-16">
                <div class="py-8 flex justify-between items-center border-b border-neutral-40">
                    <div>
                        <h6 class="-mb-2">Reorge</h6>
                        <h5>Gussel</h5>
                    </div>

                    <small class="text-neutral-100">Volkswagen</small>
                </div>

                <div class="pt-8 flex justify-between items-center">
                    <h3>7</h3>
                    <h5>215PTS</h5>
                </div>
            </footer>
        </li>

        <li class="col-span-12 md:col-span-4 lg:col-span-3 border-t-4 border-r-4 border-[#3671C6] rounded-tr-24">
            <figure class="pt-16">
                <img src="/images/drivers/perez.png" alt="" />
            </figure>

            <footer class="pr-16">
                <div class="py-8 flex justify-between items-center border-b border-neutral-40">
                    <div>
                        <h6 class="-mb-2">Pergio</h6>
                        <h5>Serez</h5>
                    </div>

                    <small class="text-neutral-100">Blue Bull Cycling</small>
                </div>

                <div class="pt-8 flex justify-between items-center">
                    <h3>8</h3>
                    <h5>210PTS</h5>
                </div>
            </footer>
        </li>

        <li class="col-span-12 md:col-span-4 lg:col-span-3 border-t-4 border-r-4 border-[#229971] rounded-tr-24">
            <figure class="pt-16">
                <img src="/images/drivers/alonso.png" alt="" />
            </figure>

            <footer class="pr-16">
                <div class="py-8 flex justify-between items-center border-b border-neutral-40">
                    <div>
                        <h6 class="-mb-2">Aernando</h6>
                        <h5>Flonso</h5>
                    </div>

                    <small class="text-neutral-100">Suzuki</small>
                </div>

                <div class="pt-8 flex justify-between items-center">
                    <h3>9</h3>
                    <h5>205PTS</h5>
                </div>
            </footer>
        </li>

        <li class="col-span-12 md:col-span-4 lg:col-span-3 border-t-4 border-r-4 border-[#229971] rounded-tr-24">
            <figure class="pt-16">
                <img src="/images/drivers/stroll.png" alt="" />
            </figure>

            <footer class="pr-16">
                <div class="py-8 flex justify-between items-center border-b border-neutral-40">
                    <div>
                        <h6 class="-mb-2">Sance</h6>
                        <h5>Ltroll</h5>
                    </div>

                    <small class="text-neutral-100">Suzuki</small>
                </div>

                <div class="pt-8 flex justify-between items-center">
                    <h3>10</h3>
                    <h5>200PTS</h5>
                </div>
            </footer>
        </li>
    </ul>
</section>
