<aside class="container">
    <div
        class="gap-16 px-24 py-16 flex flex-wrap justify-between items-center rounded-16 text-neutral-10 bg-neutral-900">
        <div class="flex items-center">
            <figure class="pt-8 pr-8 mr-8 w-56 shrink-0 border-r-2 border-t-2 border-neutral-200 rounded-tr-8">
                <img src="/images/map.png" alt="" />
            </figure>

            <div class="shrink-0">
                <small class="font-bold text-xs text-neutral-60">18 - 20 October</small>
                <h4>UNITED STATES</h4>
            </div>
        </div>

        <div class="gap-16 flex pt-8 pl-8 border-t-2 border-l-2 border-primary-300 rounded-tl-16">
            <div class="text-center">
                <h4 id="count-down-hrs">00</h4>
                <h6 class="text-neutral-80">HRS</h6>
            </div>

            <div class="text-center">
                <h4 id="count-down-min">00</h4>
                <h6 class="text-neutral-80">MIN</h6>
            </div>

            <div class="text-center">
                <h4 id="count-down-sec">00</h4>
                <h6 class="text-neutral-80">SEC</h6>
            </div>
        </div>
    </div>
</aside>