@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Chillax';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local('Chillax'), url('../fonts/Chillax-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Chillax';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: local('Chillax'), url('../fonts/Chillax-Semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Chillax';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: local('Chillax'), url('../fonts/Chillax-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Synonym';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local('Synonym'), url('../fonts/Synonym-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Synonym';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: local('Synonym'), url('../fonts/Synonym-Semibold.woff2') format('woff2');
}

@layer base {
	body {
		@apply text-base font-body text-neutral-900 bg-background antialiased;
	}

	main {
		@apply pt-80 xl:pt-[82px];
	}

	a {
		@apply inline-block;
	}

	img,
	svg {
		@apply w-full h-full;
	}

	input,
	select,
	textarea {
		@apply w-full;
	}

	h1 {
		@apply h1;
	}

	h2 {
		@apply h2;
	}

	h3 {
		@apply h3;
	}

	h4 {
		@apply h4;
	}

	h5 {
		@apply h5;
	}

	h6 {
		@apply h6;
	}

	p,
	small,
	span {
		@apply block;
	}

	small {
		@apply text-sm;
	}
}

@layer components {
	.button {
		@apply font-bold rounded-6 text-center transition-colors;
	}

	.button-base {
		@apply px-[20px] py-[12px];
	}

	.button-sm {
		@apply px-16 py-10 text-sm;
	}

	.button-xs {
		@apply px-[14px] py-8 text-xs;
	}

	.button-primary {
		@apply text-neutral-10 bg-primary-300 hover:bg-primary-200;
	}

	.button-white {
		@apply text-neutral-900 bg-neutral-10 hover:bg-neutral-30;
	}

	.button-dark {
		@apply text-neutral-10 bg-neutral-900 hover:bg-neutral-700;
	}

	.button-error {
		@apply text-neutral-10 bg-[#e53838] hover:bg-[#f54c4c];
	}

	.navbar-menu {
		@apply xl:gap-32 p-32 pt-88 xl:p-0 w-full xl:w-auto h-[100dvh] flex flex-col xl:flex-row justify-between xl:items-center xl:h-auto fixed xl:static top-0 -right-full overflow-hidden xl:overflow-visible bg-neutral-900 xl:bg-transparent transition-transform duration-500;
	}

	.navbar-menu-list {
		@apply flex flex-col xl:flex-row xl:items-center;
	}

	.navbar-menu-link {
		@apply xl:py-[26px] block relative text-[2.44rem] sm:text-[3.22rem] xl:text-[0.88rem] font-semibold leading-none text-neutral-10 transition-opacity hover:opacity-80;
	}

	.navbar-menu-link.active::before {
		@apply content-[''] size-24 xl:size-4 absolute top-1/2 xl:top-unset -left-[45px] xl:left-1/2 xl:bottom-16 -translate-y-1/2 xl:translate-y-0 xl:-translate-x-1/2 rounded-full bg-primary-300 xl:bg-neutral-10;
	}

	.navbar-mobile-menu-button {
		@apply p-16 -mr-16 block xl:hidden z-90;
	}

	.navbar-mobile-menu-button .line {
		@apply my-4 w-[20px] h-2 rounded-4 bg-neutral-10 transition-all;
	}

	.navbar-mobile-menu-button .line-01 {
		@apply origin-left;
	}

	.navbar-mobile-menu-button__open .line {
		@apply bg-neutral-10;
	}

	.navbar-mobile-menu-button__open .line-01 {
		transform: translate(3px, -1px) rotate(45deg);
	}

	.navbar-mobile-menu-button__open .line-02 {
		transform: rotate(-45deg);
	}

    .user-menu {
        @apply flex justify-end relative;
    }

    .user-menu-button {
        @apply p-10 xl:p-6 rounded-full bg-neutral-10;
    }

    .user-menu-list {
        @apply my-8 w-[200px] absolute xl:top-full right-0 bottom-full xl:bottom-unset overflow-hidden rounded-6 shadow-xl text-neutral-900 bg-neutral-10;
    }

    .user-menu-list-item a,
    .user-menu-list-item button {
        @apply px-10 py-8 text-sm font-semibold hover:bg-neutral-30;
    }

    .user-menu-list-item button {
        @apply border-t border-neutral-40;
    }

	.flag-pattern {
		@apply my-16 h-120 rounded-16 bg-[url('../images/flag-pattern.avif')] bg-16;
	}

	.link-overlay:before {
		@apply content-[''] absolute inset-0 z-0;
	}

	.link-overlay-box {
		@apply relative;
	}

	.link-overlay-box a:not(.link-overlay) {
		@apply relative z-10;
	}

	input,
	textarea {
		@apply !rounded-6 !border-neutral-100;
	}

	input:focus,
	textarea:focus {
		@apply !ring-0 !outline-none !border-primary-300;
	}
}
